body{
  overflow-y: hidden;
}
.img{
    position: relative;
    text-align: center;
    color: white;
}
.logoutLblPos{
   position:absolute;
   padding: 20px;
   width: 100px;
   right:10px;
   top:5px;
   color: white;
   
}
#nam{
	
	 position:fixed;
     width: 300px;
     right:100px;
     top:20px;
     color: black;
}




.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 3px;
  margin-top: 10%;
  position: relative;
  height: auto;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.container{
    position: absolute;
    top: 10%;
    left: 20%;
}