img{
    position: relative;
    text-align: center;
}
.logoutLblPos{
   position:fixed;
   padding: 20px;
   width: 100px;
   left: 40%;
   top: 50%;
   color: black;
   background-color: black;
}
#nam{
	
	 position:fixed;
     width: 300px;
     right:100px;
     top:20px;
     color: white;
}
#marks{
	   position: absolute;
     left:70%;
     top:8%;
     color: black;
    font-size: 100px;	
}

